@font-face {
  font-family: 'Platzivideo';
  src:  url('../fonts/Platzivideo.eot?5f6zq0');
  src:  url('../fonts/Platzivideo.eot?5f6zq0#iefix') format('embedded-opentype'),
    url('../fonts/Platzivideo.ttf?5f6zq0') format('truetype'),
    url('../fonts/Platzivideo.woff?5f6zq0') format('woff'),
    url('../fonts/Platzivideo.svg?5f6zq0#Platzivideo') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'Platzivideo' !important;
  /* speak: none; */
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-arrow-left:before {
  content: "\e900";
}
.icon-download-cloud:before {
  content: "\e901";
}
.icon-menu:before {
  content: "\e903";
}
.icon-share-2:before {
  content: "\e902";
}


:root {
  --black-color: #464646;
  --red-color:  rgb(255,0,5);
  --blue-color: #000033;
}

body, html, h1, h2, h3, p, figure {
  margin: 0;
  padding: 0;
}
a { 
  text-decoration: none;
  color: inherit;
}
body {
  font-family: 'Lato', sans-serif;
}
.grid-layout {
  display: grid;
  grid-template-columns: 300px 1.2fr .8fr;
  grid-template-rows: 2fr minmax(auto-fill, 1.5fr) 2fr;
  grid-template-areas:   	"sidebar player player"
     						"sidebar description description"
     						"sidebar comments suggestions" ;
}

.smart-header {
  display: none;
}
.menu {
  display: none;
}
/* Empieza SideBar */
.side-bar {
  grid-area: sidebar;
  height: 100%;
  background-color: #000033;
  color: white;
  padding-left: 20px;
  padding-top: 10px;
  display: flex;
  flex-flow: column;
  justify-content: start;
}
.logo {
	font-size: 34px;
	font-family: 'Mitr', sans-serif;
	margin-bottom: 30px;
}
.logo span {
	color: var(--red-color);
}
.list-item {
  margin-bottom: 20px;
}
.list-item:hover {
  background-color: #4949ad;
}
.friend-list {
	list-style: none;
	padding-left: 20px;
}
.profile-container {
	border: 1px solid #000033;
  border-radius: 50%;
  height: 50px;
  width: 50px;
	overflow: hidden;
  margin-right: 10px;
  background-color: black;
}
.profile-container img {
width: 50px;
object-fit: cover;
}
.friend-list li{
	display: flex;
	align-items: center;
}
/* Termina SideBar */

/* Empieza el Video Player */
.video-container {
  grid-area: player;
  width: 100%;
  height: 0;
  padding-bottom:43%;
  position: relative;
  /* box-sizing: padding-box; */
}
.video-player iframe {
  width: 100%;
  height: 100%;
  position: absolute;
}

/* Termina el Video Player */

/* Empieza .description-box */
.description-box {
  grid-area: description;
  color: #757575;
  border-bottom-width: 2px;
  border-bottom-color: gray;
  border-bottom-style: solid;
  display: grid;
  align-content: center;
  grid-template-columns: repeat(2, minmax(1fr, 500px));
  grid-template-rows: 1fr 1fr;
  justify-content: center;
  grid-template-areas:  "title title"
                        "action-buttons  tags";
  padding-bottom: 5px;
}
.video-info{
  align-self: center;
  padding-left: 20px;
  grid-area: title;
}
.video-title {
  color: var(--black-color);
  grid-area: title;
}
.actions {
  margin-top: 5px;
  padding: 5px 0 0 0;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  grid-area: action-buttons;

}
.actions input {
  padding: 10px 15px;
  display: inline-block;
  border: 1px solid rgb(120,0,5);
  border-radius: 20px;
  font-size: 14px;
  background: rgb(255,0,5);
  background: linear-gradient(90deg, rgba(255,0,5,1) 0%, rgba(255,145,146,1) 67%);  
  color: white;
  margin-right: 50px;
  font-family: inherit;
}
.actions input:hover {
  background-color: #f99496;
}

.action-button {
  display: flex;
  flex-flow: column;
  align-items: center;
  margin-right: 50px;
}
.keywords {
  grid-area: tags;
  margin-right: ;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  padding: 0 0 5px 5px;
  font-size: 12px;
}
.keywords span {
  border: 1px black solid;
  border-radius: 20px;
  padding: 5px 10px;
  margin-left: 10px;
  margin-bottom: 10px;
  background-color: teal;
  color: white;

}
/* Termina .description-box */

.content-box{
  padding: 20px 0 5px 15px;
  color: #464646;
}
/* Empieza Comments box */
.comment-box{
  grid-area: comments;
}
.content-title {
  font-size: 20px;
  margin-bottom: 10px;
}
.comment-container input {
  display: block;
  padding-left: 40px;
  padding-right: 50%;
  padding-top: 10px;
  padding-bottom: 10px;
  max-width: 100%;
  background-image: url(../images/thumb.png);
  background-size: 25px;
  background-repeat: no-repeat;
  background-position: 10px;
  line-height: 50%;
  margin-bottom: 20px;
  font-family: inherit;
  border-radius: 5px;
  border-style: solid;
  color: var(--black-color);

}
.comment-item {
  display: flex;
  
  margin-bottom: 30px;
}
.comment-item .profile-container {
  width: 40px;
  height: 40px;
}

.comment-item img {
  width: 40px;
}

/* Termina Comments box  */

.suggestions-box{
  grid-area: suggestions;
  overflow: hidden;
}
.suggest-item {
  padding: 0 30px 10px 10px;
}
.image-container {
  max-width: 250px;
  height: 150px;
  overflow: hidden;
  border: 1px solid #000033;
  text-align: center;
  background-image: url(../images/abstract-blue-video.png);
  background-size: 150%;
  background-position: center;
}
.image-container:hover {
  background-size: 100%;
  
}
.additional-item figure {
  height: 100px;
}


@media screen and (max-width: 1039px) {
  .description-box {
    grid-template-areas: "title tags"
                          "action-buttons tags";
  }
  .keywords {
    align-content: center;
    justify-content: center;
  }
  .actions {
    justify-content: space-around;
    /* padding-left: 10px; */
  }
  .actions input {
    margin-right: 10px;
  }
  .action-button {
    margin-right: 10px;
  }

}
@media screen and (max-width: 768px) {
  .grid-layout {
    display: grid;
    grid-template-columns: 1.2fr .8fr;
    grid-template-rows: 50px 2fr minmax(auto-fill, 1.5fr) 2fr;
    grid-template-areas:   	"header header"
                    "player player"
                   "description description"
                   "comments suggestions" ;
  }
  .side-bar {
    display: none;
  }
  .video-container {
    padding-bottom: 56.25%;
  }

  .smart-header {
    grid-area: header;
    display: flex;
    background-color: var(--blue-color);
    color: white;
    align-items: center;
    padding: 5px 0 5px 25px;
    /* position: absolute; */
    top: 0;
    right: 0;
    left: 0;
    z-index: 2;

  }
  .logo {
    margin: 0;
    padding-left: 10px;
  }
  .menu {
    position: fixed;
    background-color: var(--blue-color);
    color: white;
    z-index: 1;
    padding-top: 60px;
    padding-left: 10px;
    left: -260px;
    width: 250px;

  }
  .burger-button {
    height: 24px; 
    font-size: 24px;
    cursor: pointer;
  }
  .description-box {
    grid-template-columns: 2fr 1fr;

  }
  .actions {
    justify-content: start;
    padding-left: 20px;
    font-size: .9em;
  }
  .video-title {
    font-size: 1.2em;
  }
  .keywords {
    align-items: center;
  }
  .content-box {
    font-size: .9em;
  
}

@media screen and (max-width: 480px) {
  .smart-header {
    height: 40px;
  }
  .content-box input {
    width: 50%;
    padding-left: 15%;
    padding-right: 15%;
  }
  .comment-item {
    margin: 20px;
  }
  .profile-container {
    margin: 0px;
    padding-right: 15px;
    margin-right: 7px;
  }
}

@media screen and (max-width: 360px) {
  .grid-layout {
    display: grid;
    grid-template-columns: 1.2fr .8fr;
    grid-template-rows: 50px 2fr minmax(auto-fill, 1.5fr) 2fr 2fr;
    grid-template-areas:   	"header header"
                    "player player"
                   "description description"
                   "suggestions suggestions"
                   "comments comments" ;
  }
  .description-box {
    grid-template-columns: 1fr 2fr;
    grid-template-rows: 1fr 1fr;
    grid-template-areas: "title title"
                          "action-buttons tags";
    justify-items: start;
  }
  .actions {
    flex-direction: ;
    justify-content: space-between;
    flex-wrap: wrap;
    padding-left: 10px ;
  }
  .action-button {
    width: 45px;
    margin: 0;
    font-size: 12px;
  }
  input.action-button {
    width: 100%;
    padding: 5px 10px;
    margin: 0;
  }

  .video-info {
    grid-area: title;
    width: 300px;
    padding-top: 5px
  }
  .suggest-item a {
    display: flex;
    align-items: center;
  }
  .suggest-item .image-container {
    width: 75%;
    height: 75px;
    margin: 3px;

  }

  .comment-box {
    padding-left: 3px;
    padding-top: 0;
  }
  .comment-item {
    margin-left: 0;
    margin-right: 0;
  }
  .comment-container input {
    background-position: left;
    width: 50%%;
    margin-left: 15px;
  }
  .profile-container {
    padding: 0;
  }

}
