@font-face {
  font-family: 'Platzivideo';
  src:  url('../fonts/Platzivideo.eot?8c98lr');
  src:  url('../fonts/Platzivideo.eot?8c98lr#iefix') format('embedded-opentype'),
    url('../fonts/Platzivideo.ttf?8c98lr') format('truetype'),
    url('../fonts/Platzivideo.woff?8c98lr') format('woff'),
    url('../fonts/Platzivideo.svg?8c98lr#Platzivideo') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'Platzivideo' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-arrow-left:before {
  content: "\e900";
}
.icon-download-cloud:before {
  content: "\e901";
}
.icon-share-2:before {
  content: "\e902";
}


body, html, h1, h2, p, figure {
  margin: 0;
  padding: 0;
}
a { 
  text-decoration: none;
  color: inherit;
}
body {
  font-family: 'Lato', sans-serif;
}
.grid-layout {
  display: grid;
  grid-template-columns: 300px 1.2fr .8fr;
  grid-template-rows: 2fr .5fr 2fr;
  grid-template-areas:   	"sidebar player player"
     						"sidebar description description"
     						"sidebar comments suggestions" ;
}

/* Empieza SideBar */
.side-bar {
  grid-area: sidebar;
  height: 100%;
  background-color: #000033;
  color: white;
  padding-left: 20px;
  padding-top: 10px;
  display: flex;
  flex-flow: column;
  justify-content: start;
}
.logo {
	font-size: 34px;
	font-family: 'Mitr', sans-serif;
	margin-bottom: 30px;
}
.logo span {
	color: rgb(255,0,5);
}
.list-item {
  margin-bottom: 20px;
}
.list-item:hover {
  background-color: #4949ad;
}
.friend-list {
	list-style: none;
	padding-left: 20px;
}
.profile-container {
	/* border: 1px solid red; */
	border-radius: 50%;
	overflow: hidden;
	margin-right: 10px;
}
.profile-container img {
width: 50px;
object-fit: cover;
}
.friend-list li{
	display: flex;
	align-items: center;
}
/* Termina SideBar */

/* Empieza el Video Player */
.video-container {
  grid-area: player;
  width: 100%;
  height: 0;
  padding-bottom:43%;
  position: relative;
  /* box-sizing: padding-box; */
}
.video-player iframe {
  width: 100%;
  height: 100%;
  position: absolute;
}

/* Termina el Video Player */

/* Empieza .description-box */
.description-box {
  grid-area: description;
  padding: 10px 0 10px 20px;
  color: #757575;
  border-bottom-width: 2px;
  border-bottom-color: gray;
  border-bottom-style: solid;
}
.video-title {
  color: #464646;
}
.video-options {
  display: flex;
  justify-content: space-between;
  align-items: center;
  wi
}
.actions {
  margin-top: 5px;
  padding: 5px 0 0 0;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}
.actions input {
  padding: 10px 15px;
  display: inline-block;
  border: 1px solid rgb(120,0,5);
  border-radius: 20px;
  font-size: 14px;
  background: rgb(255,0,5);
  background: linear-gradient(90deg, rgba(255,0,5,1) 0%, rgba(255,145,146,1) 67%);  
  color: white;
  margin-right: 50px;
}
.actions input:hover {
  background-color: #f99496;
}

.action-button {
  display: flex;
  flex-flow: column;
  align-items: center;
  margin-right: 50px;
}
.keywords {
  margin-right: 20px;
}
.keywords span {
  border: 1px black solid;
  border-radius: 20px;
  padding: 5px 15px;
  margin-left: 20px;
  background-color: teal;
  color: white;
}
/* Termina .description-box */

.comment-box{
  grid-area: comments;

}

.comment-box{
  grid-area: suggestions;
}
